@model IEnumerable<PatSystem.Models.ViewModels.CRindexViewModel>

@{
    ViewData["Title"] = "Lista";

}
@await Html.PartialAsync("~/Views/Curriculo/PartialViews/_MenuSuperior.cshtml")

<table class="table text-center">
    <thead class="table-dark ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CurriculoID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaAtuacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnsinoMedio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CursoTecnicoSN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CursoSuperiorSN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdiomaSN)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CurriculoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaAtuacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnsinoMedio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CursoTecnicoSN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CursoSuperiorSN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdiomaSN)
            </td>
            <td class="row ">
                <a class="btn btn-primary  ml-1 pt-0 mt-1" asp-action="Edit" asp-route-id="@item.CurriculoID">Editar</a>
                <a class="btn btn-success  ml-1 pt-0 mt-1" asp-action="Details" asp-route-id="@item.CurriculoID">Detalhe</a>
                <a class="btn btn-danger  ml-1 pt-0 mt-1" asp-action="Remove" asp-route-id="@item.CurriculoID">Remover</a>
            </td>
        </tr>
        }
    </tbody>
</table>


